@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: aliceblue;
    background-image: url("imagens/fundoalternavel.png");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-color 2s ease;
    height: 100vh;
}
header {
    padding: 22px 26%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 2s;
}
h1 {
    font-size: 24px;
}
main {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}
.inv {
    display: none;
}
div {
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    opacity: 60%;
}
.botao {
    height: 140px;
    padding: 20px;
}
audio {
    display: none;
}
.range {
    padding: 10px 0px;
    width: 70px;
    display: none;
}
#entradadeaudio {
    display: none;
}
img {
    width: 70px;
    opacity: 50%;
}
.imagem {
    border-radius: 20%;
    transition: box-shadow 2s ease, background-color 2s ease;
}
@media (min-width: 768px) {
    h1 {
        font-size: 42px;
    }
    p {
        padding-top: 26px;
        font-size: 28px;
    }
    img {
        width: 90px;
    }
    .range {
        width: 90px;
    }
    .botao {
        padding-top: 40px;
    }
}
@media (min-width: 1023px) {
    main {
        padding-top: 90px;
    }
}